.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Make sure padding doesn't affect the overall width */
}

textarea {
    height: 100px;
    resize: vertical; /* Allow vertical resizing, none for horizontal */
}

/* Style the "Update" and "Cancel" buttons */
.update-button,
.cancel-button {
    background-color: #0097A7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px;
}

.update-button:hover,
.cancel-button:hover {
    background-color: #007a8a;
}

h1 {
    color: #333;
}
